/**
 * This file provides stylesheet configurations via SASS/SCSS.
 *
 * The variables/mixins provided here can be used to configure various
 * common styles in the partial SCSS stylesheets where those entities are
 * referenced. This reduces the effort required to maintain consistency
 * throughout the app by providing a common place to adjust recurrent
 * parameters.
 *
 * For example, the breakpoints for all media queries can be affected
 * via the device-breakpoint mixins, and the app's font types can be changed
 * all in one place via the font-stack variables.
 *
 */

$header-font-stack:		'Playfair Display', serif;
$font-stack:			'Open Sans Condensed', sans-serif;
$platform-font-stack:	'Segoe UI', 'Lucida Grande', 'Ubuntu', sans-serif;
$placeholder-color:     #999;
$placeholder-font-style:italic;


$menu-text-shadow:		1px 1px 1px rgba(0,0,0,0.10);
$header-height: 2rem;
$header-border-height: 1px;


/**
 * Color Palette
 */
$blue1: #000d16;
$blue2: #001829;
$blue3: #002139;
$blue4: #003960;
$blue5: #004a7d;
$blue6: #246795;
$blue7: #4484fb;
$blue8: #6ba3ca;
$blue9: #96c2e1;
$blue10: #cbe4f5;
$blue11: #dfeaf2;
$blue12: #e7e8f0;

$red1: #230600;
$red2: #3c0b00;
$red3: #530f00;
$red4: #6d1400;
$red5: #871900;
$red6: #a82507;
$red7: #b93f23;
$red8: #c9634c;
$red9: #d48775;
$red10: #d4998b;
$red11: #dab6ae;
$red12: #e9dcd9;


/**
 * Device Widths
 * These mixins define the device widths where the layout's breakpoints lie.
 * 
 * The layout for the smallest phones renders up to a width of 549px.
 */
@mixin for-smallest-phones {

	@media (max-width: 374px) { @content; }
}

@mixin for-mobile-medium-up {

    @media (min-width: 375px) { @content; }
}

@mixin for-mobile-large-up {

    @media (min-width: 425px) { @content; }
}

@mixin for-tablet-portrait-up {

	@media (min-width: 768px) { @content; }
}

@mixin for-tablet-landscape-up {

	@media (min-width: 950px) { @content; }
}

@mixin for-laptop-up {

    @media (min-width: 1024px) { @content; }
}

@mixin for-desktop-up {

	@media (min-width: 1200px) { @content; }
}

@mixin for-big-desktop-up {

	@media (min-width: 1800px) { @content; }
}


/**
 * Input placeholders
 */
@mixin placeholder($selector, $color, $style) {

    #{$selector}::placeholder {

        color: $color;
        font-style: $style;
    }

    #{$selector}::-webkit-input-placeholder {

        color: $color;
        font-style: $style;
    }

    #{$selector}::-moz-placeholder {

        color: $color;
        font-style: $style;
    }

    #{$selector}:-ms-input-placeholder {

        color: $color;
        font-style: $style;
    }

    #{$selector}:-moz-placeholder {

        color: $color;
        font-style: $style;
    }
}


/**
 * Box shadows
 */
@mixin box-shadow($shadows...) {
	-moz-box-shadow: 	$shadows;
	-webkit-box-shadow:	$shadows;
	box-shadow: 		$shadows;
}

@mixin pagination-button-background($top-color, $bottom-color) {
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, $top-color),
		color-stop(100%, $bottom-color)
	);
	background: gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, $top-color)
		color-stop(100%, $bottom-color)
	);
}

/**
 * Gradient Background
 */
@mixin linear-gradient-background($top-color, $bottom-color) {
	background: -webkit-linear-gradient(
		top,
		$top-color 0%,
		$bottom-color 100%
	);
	background: linear-gradient(
		to bottom, 
		$top-color 0%, 
		$bottom-color 100%
	);
}

@mixin gradient-bottom-edge($top-color, $bottom-color, $accent-color, $stop) {

    background: linear-gradient(
        0deg,
        $bottom-color 0%,
        $top-color $stop
    ),
    linear-gradient(
        0deg,
        $accent-color 0%,
        $top-color 2px
    );
}

