/*
 * @file _header.scss
 * This file provides styles for the app header and nav menu.
 *
 */
$top-color: rgba(255,255,255,0.5);
$bottom-color: rgba(225,225,225,0.5);
$accent-color: rgba(200,200,200,0.5);

header {

    overflow: hidden;

    @include for-tablet-landscape-up {

        width: 100%;
    }
}

.home-header {

    height: $header-height;
}

.page-header {

    position: relative;
    height: $header-height;
    overflow: hidden;
    border-bottom: $header-border-height solid #ddd;
}

